In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from api_key import gkey
from scipy.stats import linregress

In [2]:
crime = "Resources/UCR_Part_1_Crime_for_Multiple_St._Louis_County_Police_Departments%2C_2019_Year_to_Date.csv"
crime_df = pd.read_csv(crime)
#crime_df

In [3]:
crime_df.columns

Index(['X', 'Y', 'UCRCOUNT', 'COMPLAINTYEAR', 'COMPLAINTNUM', 'UCR_OFFENSE',
       'UCR_CRIME_CODE', 'TYPE', 'MONTH', 'YEAR', 'DT_CALLREC', 'D_OCCURRED',
       'DOW_OCCURRED', 'ZONE', 'ADDRESS', 'PRECINCT', 'PREMISE',
       'REPORTING_JURIS', 'FOR_JURIS', 'X.1', 'Y.1', 'OBJECTID'],
      dtype='object')

In [4]:
reduced_crime_df = crime_df.loc[:, ['X', 'Y', 'COMPLAINTYEAR', 'UCR_OFFENSE', 'TYPE', 'YEAR',
                                    'ADDRESS']]
reduced_crime_df

,X,Y,COMPLAINTYEAR,UCR_OFFENSE,TYPE,YEAR,ADDRESS
0,-90.303477,38.680753,18,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,1439 KINGSLAND AVE
1,-90.271928,38.720354,18,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,7357 JENWOOD AVE
2,-90.268498,38.703995,19,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,5200 HELEN AVE
3,-90.256474,38.725830,18,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,8815 CLIFTON AVE
4,-90.215647,38.773309,18,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,11137 RIAZA SQ
...,...,...,...,...,...,...,...
17594,NaN,NaN,15,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,577 GODDARD AVE
17595,-90.546271,38.606776,19,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,328 NORWICH CT
17596,-90.295168,38.543718,19,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,4190 HOFFMEISTER AVE
17597,-90.448450,38.539104,19,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,1710 FENPARK DR
17598,-90.284114,38.526658,19,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,314 ARLEE AVE W

In [5]:
year_df = reduced_crime_df.loc[reduced_crime_df['COMPLAINTYEAR'] >= 19]
year_df

,X,Y,COMPLAINTYEAR,UCR_OFFENSE,TYPE,YEAR,ADDRESS
2,-90.268498,38.703995,19,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,5200 HELEN AVE
5,-90.197312,38.753107,19,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,CAMERON RD & ROSS CIR
6,-90.182395,38.777746,19,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,610 PRIGGE RD
7,NaN,NaN,19,"RAPE, BY FORCE (AFTER 12-31-2012)",PERSON,2019,NaN
8,NaN,NaN,19,"RAPE, BY FORCE (AFTER 12-31-2012)",PERSON,2019,NaN
...,...,...,...,...,...,...,...
17593,-90.245846,38.745910,19,"MOTOR VEHICLE THEFT, TRUCK/BUS",PROPERTY,2019,9810 DUKE DR
17595,-90.546271,38.606776,19,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,328 NORWICH CT
17596,-90.295168,38.543718,19,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,4190 HOFFMEISTER AVE
17597,-90.448450,38.539104,19,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,1710 FENPARK DR
17598,-90.284114,38.526658,19,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,314 ARLEE AVE W

In [6]:
ryear_df = year_df.loc[:, ['X', 'Y', 'UCR_OFFENSE', 'TYPE', 'YEAR',
                                    'ADDRESS']]
ryear_df.dropna(inplace = True) 
ryear_df

,X,Y,UCR_OFFENSE,TYPE,YEAR,ADDRESS
2,-90.268498,38.703995,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,5200 HELEN AVE
5,-90.197312,38.753107,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,CAMERON RD & ROSS CIR
6,-90.182395,38.777746,"HOMICIDE, MURDER AND NONNEGLIGENT MANSLAUGHTER",PERSON,2019,610 PRIGGE RD
27,-90.470593,38.540136,"ROBBERY, FIREARM",PERSON,2019,1860 BOWLES AVE
28,-90.449337,38.614038,"ROBBERY, FIREARM",PERSON,2019,1909 WINDMOOR PL
...,...,...,...,...,...,...
17593,-90.245846,38.745910,"MOTOR VEHICLE THEFT, TRUCK/BUS",PROPERTY,2019,9810 DUKE DR
17595,-90.546271,38.606776,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,328 NORWICH CT
17596,-90.295168,38.543718,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,4190 HOFFMEISTER AVE
17597,-90.448450,38.539104,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,1710 FENPARK DR
17598,-90.284114,38.526658,"MOTOR VEHICLE THEFT, OTHER VEHICLE",PROPERTY,2019,314 ARLEE AVE W

In [51]:
# TEST DATA
ryear_df_test = ryear_df.head()
locations = ryear_df_test[["X", "Y"]]

#locations = ryear_df[["X", "Y"]]

#geo_data = requests.get(target_url).json()
type(locations)
params = {"key": gkey}
#for i in locations:
   # print(i)
master_zips= []

for index, data in locations.iterrows():
       #print(lon, lat)[0]
    url = f'https://maps.googleapis.com/maps/api/geocode/json?latlng={data["Y"]},{data["X"]}&key={params["key"]}'
    print(url)
    response = requests.get(url).json()
    zip_list = []
    results = response['results']

    for result in results:
        #print(result)
        if result.get('address_components'):
            for component in result.get('address_components'):
                #print(component)
                ctype = (component.get("types"))[0]
                if ctype == 'postal_code':
                    current_zip = component.get('short_name')
                    zip_list.append(current_zip)
    zip_list = list(set(zip_list))
    
    master_zips.append(zip_list)

#     response = Flatten_json(response['results'])
#     print(json.dumps(response, indent=4, sort_keys=True))    
#     #print(response)
#     response = response['1_address_components-6_short_name']
#     zipcode.append(response)
#     #print(response)

https://maps.googleapis.com/maps/api/geocode/json?latlng=38.70399478,-90.26849752&key=AIzaSyA6hEBrse5XNIAiS9kesKONqOLqlhAIUUU
https://maps.googleapis.com/maps/api/geocode/json?latlng=38.75310651,-90.19731193&key=AIzaSyA6hEBrse5XNIAiS9kesKONqOLqlhAIUUU
https://maps.googleapis.com/maps/api/geocode/json?latlng=38.77774618,-90.18239456&key=AIzaSyA6hEBrse5XNIAiS9kesKONqOLqlhAIUUU
https://maps.googleapis.com/maps/api/geocode/json?latlng=38.54013635,-90.47059327&key=AIzaSyA6hEBrse5XNIAiS9kesKONqOLqlhAIUUU
https://maps.googleapis.com/maps/api/geocode/json?latlng=38.61403752,-90.44933744&key=AIzaSyA6hEBrse5XNIAiS9kesKONqOLqlhAIUUU

In [55]:
master_zips

[['63136'], ['63137'], ['63138'], ['63026'], ['63131']]

In [54]:
[zip[0] for zip in master_zips]

['63136', '63137', '63138', '63026', '63131']

In [52]:
response['results'][0]['address_components']

[{'long_name': '12520', 'short_name': '12520', 'types': ['street_number']},
 {'long_name': 'Ridgemoor Lake Court',
  'short_name': 'Ridgemoor Lake Ct',
  'types': ['route']},
 {'long_name': 'St. Louis',
  'short_name': 'St. Louis',
  'types': ['locality', 'political']},
 {'long_name': 'Missouri River Township',
  'short_name': 'Missouri River Township',
  'types': ['administrative_area_level_3', 'political']},
 {'long_name': 'St. Louis County',
  'short_name': 'St Louis County',
  'types': ['administrative_area_level_2', 'political']},
 {'long_name': 'Missouri',
  'short_name': 'MO',
  'types': ['administrative_area_level_1', 'political']},
 {'long_name': 'United States',
  'short_name': 'US',
  'types': ['country', 'political']},
 {'long_name': '63131', 'short_name': '63131', 'types': ['postal_code']},
 {'long_name': '3016', 'short_name': '3016', 'types': ['postal_code_suffix']}]

In [38]:
len(results)

8

In [39]:
zip_list = []
results = response['results']

for result in results:
    #print(result)
    if result.get('address_components'):
        for component in result.get('address_components'):
            #print(component)
            ctype = (component.get("types"))[0]
            if ctype == 'postal_code':
                current_zip = component.get('short_name')
                zip_list.append(current_zip)
zip_list = list(set(zip_list))

['63033']

In [ ]:
#crime_url = 'https://opendata.arcgis.com/datasets/a628ae19fb094f179cc9927a550a55d2_0.geojson'
#print(json.dumps(crime_url, indent=4, sort_keys=True)) 

def Flatten_json (nested_json): #with #nested keys into a single level.
    out = {}
    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '-')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x
    flatten(nested_json)
    return out
Flatten_json(zipcode[0]['results'])

In [ ]:
for index in

In [ ]:
Flatten_json(zipcode[0]['results'])['1_address_components-6_long_name']